<!--

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="./stylesheets/style.css">
-->


<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content='codeglim'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Title Tag-->
    <title>Digitech Solutions</title>
	

	
	<!-- Google Fonts & Google Maps API -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700" rel="stylesheet"> 
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnhgNBg6jrSuqhTeKKEFDWI0_5fZLx0vM" type="text/javascript"></script>
	<link rel="stylesheet" href="./stylesheets/style.css">
	<link rel="stylesheet" href="./stylesheets/animate.min.css">
	<link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="./stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="./stylesheets/hover.min.css">
	<link rel="stylesheet" href="./stylesheets/magnific-popup.css">
	<link rel="stylesheet" href="./stylesheets/reset.css">
	<link rel="stylesheet" href="./stylesheets/responsive.css">
	<link rel="stylesheet" href="./stylesheets/slick.css">
	<link rel="stylesheet" href="./stylesheets/slicknav.min.css">
	 
	
</head>